<div class="container">
    <div class="row justify-content-center">
        <div class="col-7">
            <h5 class="text-center">Nuevo articulo</h5>
            <form action="/admin/alta" method="post" enctype="multipart/form-data">
                {{!-- req.body.titulo --}}
                <div class="form-group">
                    <label for="nombre">Nombre del articulo</label>
                    <input type="text" class="form-control" name="nombre" id="nombre">
                </div>
                <div class="form-group">
                    <input type="file" name="imagen">
                </div>
                <div class="form-group">
                    <label for="precio">Precio</label>
                    <input type="text" class="form-control" name="precio" id="precio">
                </div>
                <div class="form-group">
                    <label for="categoria">Seleccione categoria</label>
                    <select class="form-control" name="categoria">
                        <option  selected disabled>
                            Seleccione el autor
                        </option>
                        {{#each array_categorias}}

                        <option value="{{id_c}}">{{categoria}}</option>

                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="descripcion"></textarea>
                </div>
                <button type="submit" class="btn btn-color btn-block">Publicar</button>
            </form>
        </div>
    </div>
</div>