<div class="error bg-white">
<div class="container mt-2">
    <div class="row  pt-3 pb-3" style="height: auto;">
        <div class="col-md-12 m-auto">
            <div class="error-template mt-4 mb-5 pb-1">
                <h1>
                    Oops!
                </h1>
                
                <div class="error-details mb-2">
                    Sorry, an error has occured, Requested page not found!
                </div>
                <div class="error-actions">
                    <a href="" class="btn btn-color"><span class="glyphicon glyphicon-home"></span>
                        Regresar a los comandos de admin?</a>
                        <a href="/admin" class="btn btn-color1" title="Aiuda, no hay support"><span class="glyphicon glyphicon-envelope"></span> Contacta al Support</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>