   <div id="carouselExampleSlidesOnly" class="carousel slide mt-2" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="/store">
      <img class="d-block w-100  img-fluid" src="/images/banner-slide1.png">
      </a>
    </div>
    <div class="carousel-item">
      <a href="/store">
      <img class="d-block w-100 img-fluid" src="/images/banners-slide2.png">
      </a>
    </div>
    <div class="carousel-item">
      <a href="/store">
      <img class="d-block w-100  img-fluid" src="/images/banners-slide3.png">
      </a>
    </div>
  </div>
</div>
<footer class="mt-2">
<div class="container bg-white" style="height: 210px;">
  <div class="row">
    <div class="col-xl-8 mt-4 ml-auto d-flex flex-wrap border-right">
      <div class="mb-1">
        <a href="/store/remeras">
        <img src="/images/mini-banners.png" style="height: 80px; width:160px;" placeholder="Remeras">
        </a>
      </div>
      <div class="ml-1 mb-1">
        <a href="/store/pantalones">
        <img src="/images/mini-banners2.png" style="height: 80px; width:160px;"placeholder="Pantalones">
        </a>
      </div>
      <div class="ml-1 mb-1">
        <a href="/store/ropainterior">
        <img src="/images/mini-banners3.png" style="height: 80px; width:160px;"placeholder="Ropa Interior">
        </a>
      </div>
      <div class="ml-1 mb-1">
        <a href="/store/abrigos">
        <img src="/images/mini-banners4.png"style="height: 80px; width:160px;" placeholder="Abrigos">
        </a>
      </div>
      <div class="mb-1">
        <a href="/store/buzos">
        <img src="/images/mini-banners5.png" style="height: 80px; width:160px;"placeholder="Buzos">
        </a>
      </div>
      <div class="ml-1 mb-1">
        <a href="/store/vestidos">
        <img src="/images/mini-banners6.png" style="height: 80px; width:160px;"placeholder="Vestidos">
        </a>
      </div>
      <div class="ml-1 mb-1">
        <a href="/store/accesorios">
        <img src="/images/mini-banners7.png" style="height: 80px; width:160px;"placeholder="Accesorios">
        </a>
      </div>
      <div class="ml-1 mb-1">
        <a href="/store/shoes">
        <img src="/images/mini-banners8.png" style="height: 80px; width:160px;"placeholder="Shoes">
        </a>
      </div>
      
    </div>
    <div class="col-xl-2 mt-4 mr-auto">
      <span class="text-secondary redestext">Seguinos en nuestras redes!</span>
      <br>
      <i class="fab fa-facebook-square p-2"></i>
      <a href="https://www.facebook.com" class="text-secondary mediatext">Facebook</a>
      <br>
      <i class="fab fa-instagram-square p-2"></i>
      <a href="https://www.instagram.com" class="text-secondary mediatext">Instagram</a>
      <br>
      <i class="fab fa-whatsapp-square p-2"></i>
      <a href="https://www.whatsapp.com" class="text-secondary mediatext">Whatsapp</a>
      <br>
      <i class="fas fa-map-marker-alt p-2"></i>
      <a href="/nosotros" class="text-secondary mediatext">Local</span>
    </div>
  </div>
</div>
</footer>
