<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/estilos.css">   
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/5e01cc74c2.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </head>
  <body>
  <header>
  <div class="container  menu mr-3 mb-2 d-fixed">
      <div class="row align-items-center" style="height:80px;">
          <div class="col-xl-1 col-md-1 col-sm-12  mr-auto ml-auto">
          <img src="\images\logo1.jpg" class="logo-img" style="height:70px;width:70px;">
          </div>
          <div class="col-xl-6 col-md-6 col-sm-12" style="height:auto;">

              <a href="/">
                  <span class="linktext p-2 pr-4 pl-4">Inicio</span>
              </a>      

              <a href="/nosotros">
                  <span class="linktext p-2 pr-4 pl-4">Nosotros</span>
              </a>

              <a href="/store">
                  <span class="linktext p-2 pr-4 pl-4">Tienda</span>
              </a>

                {{#if session}}
                <a href="/logout">
                  <span class="linktext p-2 pr-4 pl-4">Logout</span>
                </a>
                {{else}}
              <a href="/login">
                  <span class="linktext p-2 pr-4 pl-4">Login</span>
              </a>
              <a href="/registro">
                  <span class="linktext p-2 pr-4 pl-4">Registro</span>
              </a>
              {{/if}}
            </div>
          
          <div class="col-xl-4 col-md-4 col-sm-12 d-flex">

            <a href="/" class="linkicon"><i class="fas fa-user p-2 pr-3"></i></a>

          </div>       
      </div>
    </div>

    </header>
    {{{body}}}
    <script></script>
    </body>
</html>