<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/estilos.css">   
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/5e01cc74c2.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </head>
  <body>
  <header>
  <div class="container  menu mr-3 mb-2 d-fixed m-auto">
      <div class="row align-items-center" style="height:80px;">
          <div class="col-xl-1 col-md-1 col-sm-12 mx-auto">
          <img src="\images\logo1.jpg" class="logo-img" style="height:70px;width:70px;">
          </div>
          <div class="col-xl-6 col-md-6 col-sm-12" style="height:auto;">

              <a href="/">
                  <span class="linktext p-2 pr-4 pl-4">Inicio</span>
              </a>      

              <a href="/nosotros">
                  <span class="linktext p-2 pr-4 pl-4">Nosotros</span>
              </a>

              <a href="/store">
                  <span class="linktext p-2 pr-4 pl-4">Tienda</span>
              </a>

              <span class="linktext p-2 pr-4 pl-4 btn" data-toggle="modal" data-target=".bd-example-modal-sm">
                  Login
              </span>

              <span class="linktext p-2 pr-4 pl-4 btn" data-toggle="modal" data-target="#exampleModalCenter">
                  Registro
              </span>

              <a href="/control">
                  <span class="linktext p-2 pr-4 pl-4 d-none">Control</span>
              </a>
            </div>
          
          <div class="col-xl-4 col-md-4 col-sm-12 d-flex">
            <i class="fas fa-ghost p-2 pr-3"></i>
            <i class="fas fa-user-secret p-2 pr-3 d-none"></i>
            <i class="fas fa-user p-2 pr-3 d-none"></i>
            <i class="fas fa-shopping-cart p-2 pr-3"></i>

             <nav class="search-bar">
            <form class="form-inline">
             
              <input class="form-control search-form" type="search" placeholder="Search" aria-label="Search">
               <div class="input-group-prepend">
                <span class="input-group-text search-icon" id="search-icon"><i class="fas fa-search"></i></span>
              </div>
            </form>
          </nav>
          </div>

         
        </div>
      </div>
    </div> 

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle" class="blacktext">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div class="container-float">
          <div class="row log m-auto align-items-center" style="height:300px;">
              <div class="col-9">

              <div class="form-group">
              <label for="Email">Email</label>
              <input type="email" name="email"class="form-control" id="mailx" aria-describedby="emailHelp">
              </div>

              <div class="form-group">
              <label for="Contraseña">Contraseña</label>
              <input type="password" name="password" class="form-control" id="passx">
              </div>
              <br>
              <button type="button" class="btn" id="viewpass">Mostrar contraseña</button>
              </div>
              
              <span name="msglogin" id="msglogin"></span>

          </div>
          </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-color1 btn-block" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-color btn-block">Entrar</button>
            </div>
          </div>
      </div>
    </div>
            
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title blacktext" id="exampleModalCenterTitle">Registro</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <div class="container-float">
            <div class="row log align-items-center" style="height:auto; width:500px;">
            <div class="col-10 m-auto">

            <div class="form-group">
            <label for="namex">Nombre</label>
            <input type="text" class="form-control" id="namex">
            <span class="mediatext" id="namStatus"></span>
            </div>
    
            <div class="form-group">
            <label for="surx">Apellido</label>
            <input type="text" class="form-control" id="surx">
            <span class="mediatext" id="surStatus"></span>
            </div>

            <div class="form-group">
            <label for="sexx">Sexo</label>
            <br>
            <input type="radio"> Femenino</input>
            <br>
            <input type="radio"> Masculino</input>
            <span class="mediatext" id="sexStatus"></span>
            </div>
            
            <div class="form-group">
            <label for="nacx">Fecha de nacimiento</label>
            <input type="date" class="form-control" id="nacx">
            <span class="mediatext" id="dateStatus"></span>
            </div>
            
            <div class="form-group">
            <label for="telx">Telefono</label>
            <input type="number" class="form-control" id="telx">
            <span class="mediatext" id="telStatus"></span>
            </div>

            <div class="form-group">
            <label for="mailx">Email</label>
            <input type="email" class="form-control" id="mailx">
            <span class="mediatext" id="mailStatus"></span>
            </div>

            <div class="form-group">
            <label for="userx">Usuario</label>
            <input type="text" class="form-control" id="userx">
            <span class="mediatext" id="userStatus"></span>
            </div>

            <div class="form-group">
            <label for="passx">Contraseña</label>
            <input type="password" class="form-control" id="passxHelp">
            <span class="mediatext" id="passStatus"></span>
            </div>
          </div>
          </div>
        </div>
<div class="modal-footer">
  <button type="button" class="btn btn-color1 btn-block" data-dismiss="modal">Cancelar</button>
  <button type="button" id="registrar" class="btn btn-color btn-block">Registrarse</button>
</div>
</div>
</div>
</div>
    </div>
    </header>
    {{{body}}}
    <script>
      addEventListener('load',f1);

function f1() {
    document.getElementById('registrar').addEventListener('click', comprobarUser);
    document.getElementById('registrar').addEventListener('click', comprobarSur);
    document.getElementById('registrar').addEventListener('click', comprobarTel);
    document.getElementById('registrar').addEventListener('click', comprobarEmail);
    document.getElementById('viewpass').addEventListener('click', viewPass);
    showPass = false;
}

function viewPass() {
    if (showPass) {
        showPass = false;
        document.getElementById('passx').type = "password";
        document.getElementById('viewpass').innerHTML = "Mostrar contraseña";
    } else {
        showPass = true;
        document.getElementById('passx').type = "text";
        document.getElementById('viewpass').innerHTML = "Ocultar contraseña";
    }
}

function comprobarUser() {
    let id = 'namex';
    let status = 'namStatus'
    let value = document.getElementById(id).value;
    if (value.length >= 3) {
        document.getElementById(id).style.background = "#F3FFF7";
        document.getElementById(status).innerHTML = "";
    } else {
        document.getElementById(id).style.background = "#FFF3F3";
        document.getElementById(status).innerHTML = "El campo es demasiado corto";
    }
}

function comprobarSur() {
    let id = 'surx';
    let status = 'surStatus'
    let value = document.getElementById(id).value;
    if (value.length >= 3) {
        document.getElementById(id).style.background = "#F3FFF7";
        document.getElementById(status).innerHTML = "";
    } else {
        document.getElementById(id).style.background = "#FFF3F3";
        document.getElementById(status).innerHTML = "El campo es demasiado corto";
    }
}

function comprobarTel() {
    let id = 'telx';
    let status = 'telStatus'
    let value = document.getElementById(id).value;
    var regex = new RegExp("^[0-9]*$");
    if (regex.test(value) && value.length >= 8) {
        document.getElementById(id).style.background = "#F3FFF7";
        document.getElementById(status).innerHTML = "";
    } else {
        document.getElementById(id).style.background = "#FFF3F3";
        document.getElementById(status).innerHTML = "El campo no contiene un teléfono válido";
    }
}

function comprobarEmail() {
    let id = 'mailx';
    let status = 'mailStatus';
    let value = document.getElementById(id).value;
    var regex = new RegExp("^[a-zA-Z0-9_.-]+@[a-zA-Z]+[.]{1}[a-zA-Z]+$");
    if (regex.test(value)) {
        document.getElementById(id).style.background = "#F3FFF7";
        document.getElementById(status).innerHTML = "";
    } else {
        document.getElementById(id).style.background = "#FFF3F3";
        document.getElementById(status).innerHTML = "El campo no contiene una dirección de email válida";
    }
}

    </script>
  </body>
</html>