<div class="login bg-white">
    <div class="container mt-2">
        <div class="row pt-3 pb-3" style="height: auto;">
            <div class="col-7 m-auto">
                <form action="/login" class="mt-4 mb-5 pb-1"method="post">
                    <h6 class="blacktext pt-3">{{message}}</h6>
                    <h5 class="pinktext mt-5 mb-4">Login</h5>
                    <div class="form-group">
                        <label for="usuario">Usuario</label>
                        <input type="text" class="form-control" name="usuario" id="usuario">
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="text" class="form-control"name="password" id="password">
                    </div>
                <button type="submit" class="btn btn-color1 btn-block mb-5">Ingresar</button>
                </form>
            </div>
        </div>
    </div>
</div>