<div class="content bg-white">
<div class="container mt-2">
    <div class="row bg-white" style="height: 700px;">
        <div class="col-3 m-auto mediatext">
            <h5 class="pinktext">Nuestra historia</h5>
            <br>
            <p>May Store es un emprendimiento que nace como un proyecto experimental de indumentaria.
                Mezcla el diseño gráfico con el diseño de indumentaria. Utiliza conceptos base de ambos ámbitos
                para crear piezas únicas. Nos enfocamos en las tendencias modernas de la juventud.
                Aportamos en el mercado local nuevas opciones ante la monotonía de estilos edgy, dark y pastel goth.
            </p>
            <br>
            <h5 class="pinktext">Nuestro local</h5>
            <br>
            <div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=chacabuco%20974&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>Google Maps Generator by <a href="https://www.embedgooglemap.net">embedgooglemap.net</a></div><style>.mapouter{position:relative;text-align:right;height:200px;width:300px;}.gmap_canvas {overflow:hidden;background:none!important;height:200px;width:300px;}</style></div>
        </div>
        <div class="col-7 m-auto border-left">
            <h5 class="blacktext">Contáctanos</h5>
            <br>
            <form action="/nosotros" method="POST">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input class="form-control" id="namx" type="text" placeholder="Marcelo">
                <span id="namStatus" class="mediatext"></span>
            </div>
            <div class="form-group">
                <label for="apellido">Apellido</label>
                <input class="form-control" id="surx" type="text" placeholder="Cono">
                <span id="surStatus" class="mediatext"></span>
            </div>
            <div class="form-group">
                <label for="mail">Mail</label>
                <input class="form-control" id="mailx" type="email" placeholder="ejemplo@gmail.com">
                <span id="mailStatus" class="mediatext"></span>
            </div>
            <div class="form-group">
                <label for="comentario">Comentario</label>
                <textarea class="form-control" cols="3" rows="3" id="textx" placeholder="Déjanos tu mensaje"></textarea>
                <span id="textStatus" class="mediatext"></span>
            </div>
            <button type="submit" class="btn btn-color1" id="enviar">Enviar</button>

            </form>
        </div>
    </div>
</div>
</div>
<script>
    addEventListener('load',f1);

    function f1 () {
        document.getElementById('namx').focus();
        document.getElementById('enviar').addEventListener('click',comprobarNamx);
        document.getElementById('enviar').addEventListener('click',comprobarSurx);
        document.getElementById('enviar').addEventListener('click',comprobarEmail);
        document.getElementById('enviar').addEventListener('click',comprobarTexto);
    }

    function comprobarNamx () {
        let id = 'namx';
        let status = 'namStatus'
        let value = document.getElementById(id).value;
        if(value.length >= 3) {
            document.getElementById(id).style.background = "#F3FFF7";
            document.getElementById(status).innerHTML = "";
        } else {
            document.getElementById(id).style.background = "#FFF3F3";
            document.getElementById(status).innerHTML = "El campo es demasiado corto";
        }
    }

    function comprobarSurx () {
        let id = 'surx';
        let status = 'surStatus';
        let value = document.getElementById(id).value;
        if(value.length >= 3) {
            document.getElementById(id).style.background = "#F3FFF7";
            document.getElementById(status).innerHTML = "";
        } else {
            document.getElementById(id).style.background = "#FFF3F3";
            document.getElementById(status).innerHTML = "El campo es demasiado corto";
        }
    }

    function comprobarEmail() {
    let id = 'mailx';
    let status = 'mailStatus';
    let value = document.getElementById(id).value;
    var regex = new RegExp("^[a-zA-Z0-9_.-]+@[a-zA-Z]+[.]{1}[a-zA-Z]+$");
    if (regex.test(value)) {
        document.getElementById(id).style.background = "#F3FFF7";
        document.getElementById(status).innerHTML = "";
    } else {
        document.getElementById(id).style.background = "#FFF3F3";
        document.getElementById(status).innerHTML = "El campo no contiene una dirección de email válida";
        }
    }

    function comprobarTexto () {
        let id = 'textx';
        let status = 'textStatus';
        let id = document.getElementById(id).value;
        if(value.length == 0) {
            document.getElementById(id).style.background = "#F3FFF7";
            document.getElementById(status).innerHTML = "";
        } else {
            document.getElementById(id).style.background = "#FFF3F3";
            document.getElementById(status).innerHTML = "El campo está vacío";
        }
    }
</script>