<div class="store bg-white">
    <div class="container mt-2">
        <div class="row bg-white" style="height: 900px;">
            <div class="col-2 m-top mt-5">
                <h6 class="border-bottom p-3 blacktext  text-left">Filtros</h6>
                <span class="p-3">Remeras</span>
                <br>
                <span class="p-3">Buzos</span>
                <br>
                <span class="p-3">Pantalones</span>
                <br>
                <span class="p-3">Vestidos</span>
                <br>
                <span class="p-3">Ropa Interior</span>
                <br>
                <span class="p-3">Accesorios</span>
                <br>
                <span class="p-3">Abrigos</span>
                <br>
                <span class="p-3">Shoes</span>
            </div>
            <div class="col-8 border-left m-auto">
                <div class="row">
                    <div class="col-4 mr-5 ml-5 mt-3 mb-3">
                        <h5 class="blacktext">Titulo</h5>
                        <img src="/images/hoodies/panda-hoodie.jpg" class="mb-2 mt-2"style="height:300px;width:300px">
                        <span class="blacktext">Precio $</span>
                        <br>
                        <small> Descripcion</small>
                    </div>
                    <div class="col-4 ml-5 mr-5 mt-3 mb-3">
                        <h5 class="blacktext">Titulo</h5>
                        <img src="/images/hoodies/panda-hoodie.jpg" class="mb-2 mt-2"style="height:300px;width:300px">
                        <span class="blacktext">Precio $</span>
                        <br>
                        <small> Descripcion</small>
                    </div>
                    <div class="col-4 ml-5 mr-5 mt-3 mb-3">
                        <h5 class="blacktext">Titulo</h5>
                        <img src="/images/hoodies/panda-hoodie.jpg" class="mb-2 mt-2"style="height:300px;width:300px">
                        <span class="blacktext">Precio $</span>
                        <br>
                        <small> Descripcion</small>
                    </div>
                    <div class="col-4 ml-5 mr-5 mt-3 mb-3">
                        <h5 class="blacktext">Titulo</h5>
                        <img src="/images/hoodies/panda-hoodie.jpg" class="mb-2 mt-2"style="height:300px;width:300px">
                        <span class="blacktext">Precio $</span>
                        <br>
                        <small> Descripcion</small>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>